/* general styles for odd elements */
.odd {
    background-color: #ffcccb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
/*Style for the second element*/
#second{
    color:blue;
    font-size: 36px;
}
/* special styles for the third element */
.special{
    font-size: 24px;
}
/* Style for the fourth element */
#fourth{
    background-color: #ccffcc;
    font-size: 24px;
    font-weight: bold;
}